# <font color='#eb3483'> SQL Exercises </font>
In today's exercises, you'll get the chance to hone your SQL skills. We'll be using the same database as class (nobel winners). Start by loading the sqlite3 package, and pandas.

## <font color='#eb3483'> Exercise 1 - Connecting to the Database </font>

Connect to the nobel database (located in the data folder)

List all the tables in the database, and their columns.

## <font color='#eb3483'> Exercise 2 - Select Basics</font>
Select the first ten records from the laureate table.

Find the birth and death dates for Albert Einstein.

Find the Nobel Laureates who died in 2015 and whose name begins with 'Y'.

**Challenge** Find the last three Nobel Laureates born in 1900. Hint to solve this you might want to order your results by birthdate (check out the ORDER BY operator [here](https://www.sqlitetutorial.net/sqlite-order-by/)).

## <font color='#eb3483'> Exercise 2 - Select Aggregations </font>

Find the number of Nobel Prizes awarded between 1950 and 1960 (inclusive).

Find the number of Nobel Prizes awarded in each year.

In which year was the greatest number of Nobel Prizes awarded?

## <font color='#eb3483'> Exercise 3 - Joins </font>

Which year has the most women Nobel Laureates?

Which category has the most women Nobel Laureates?

What countries (top 3) have the most nobel prizes? We say a country has a nobel prize if it was won by a nobel laureate that was born there.