# <font color='#eb3483'> Interactive visualizations in Jupyter Notebooks </font>

## <font color='#eb3483'> 1) IPyWidgets (selections/widgets) </font>

In [ ]:
# import ipywidgets
import ipywidgets as widgets

### <font color='#eb3483'> EXERCISE1) Make a radio button widget for each day of the week </font>

## <font color='#eb3483'> Okay. Let's try this on our data ... </font>

In [2]:
# Importing the required packages here

import numpy as np
import pandas as pd
import seaborn as sns
import ast, json

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Load our data
df = pd.read_csv("data/ny_airbnb_processed.csv")
df.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,review_scores
0,2595,2845,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,2,NaN,NaN,1.0,150,30,48,2019-11-04,0.34,3,308.0,4.70
1,3831,4869,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,3,NaN,1.0,3.0,79,1,403,2021-05-04,5.16,1,208.0,4.46
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,2,NaN,1.0,1.0,60,30,50,2016-06-05,0.56,1,365.0,4.52
3,5136,7378,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,4,NaN,2.0,2.0,175,21,1,2014-01-02,0.01,1,134.0,5.00
4,5178,8967,Manhattan,Midtown,40.76457,-73.98317,Private room,2,NaN,1.0,1.0,61,2,474,2020-09-25,3.61,1,246.0,4.19



### <font color='#eb3483'>EXERCISE 2): Make a scatterplot of price vs review_rating, where a user can select the desired neighbourhood_group. Use a radio button widget for the neighbourhood_group. </font>



### <font color='#eb3483'> Extension - Make a drop down for the variable plotted against price </font>

---

## <font color='#eb3483'> 2. Plotly Express (interactivity) </font>

In [4]:
import plotly.express as px
import plotly.graph_objects as go

In [5]:
df = pd.read_csv("data/ny_airbnb_processed.csv")
df.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,review_scores
0,2595,2845,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,2,NaN,NaN,1.0,150,30,48,2019-11-04,0.34,3,308.0,4.70
1,3831,4869,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,3,NaN,1.0,3.0,79,1,403,2021-05-04,5.16,1,208.0,4.46
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,2,NaN,1.0,1.0,60,30,50,2016-06-05,0.56,1,365.0,4.52
3,5136,7378,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,4,NaN,2.0,2.0,175,21,1,2014-01-02,0.01,1,134.0,5.00
4,5178,8967,Manhattan,Midtown,40.76457,-73.98317,Private room,2,NaN,1.0,1.0,61,2,474,2020-09-25,3.61,1,246.0,4.19

Let's start basic and build step by step to check out the functionality (just as we did with Seaborn).


### <font color='#eb3483'> EXERCISE 3): Make a scatterplot of price vs review_rating, where a user can select the desired neighbourhood_group. Use a radio button widget for the neighbourhood_group. (same as above just with plotly) </font>

---

# <font color='#eb3483'> 3. Interactive maps with Folium </font>

In [ ]:
#to make the interactive maps
import folium
from folium.plugins import FastMarkerCluster
import geopandas as gpd
from branca.colormap import LinearColormap


### <font color='#eb3483'> EXERCISE 4): Make a similar graph to c) Choropleth but instead of plotting by neighbourhood - plot by neighbourhood_group. </font>

### <font color='#eb3483'> Extra challenge - homework </font>

 You can also make Choropleths in Plotly to enable hover interactivity (hover info) - 
 read this - https://plotly.com/python/choropleth-maps/ - and try it out for homework. Paste a screen grab on slack if you figure it out.

Important! No solutions will be posted to these challenges. I would like to encourage you to work together as a class and help each other. If you need an answer or help - best be asking on slack :) OR book a slot with a TA